html, body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
*[aria-hidden="true"]{
    display: none;
}
canvas{
    position: fixed;
    background-color: #4ec0ca;
}
img{
    float: left;
}
#splash{
    position: fixed;
}
#point-counter{
    position: relative;
    height: 0;
    top: 20px;
    z-index: 1;
}